/* AboutPage.css */

.about-container {
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .about-heading {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .about-video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  